@model SportsStore.Domain.Entities.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="grid_12">
    <div class="box round first fullpage">
        <h2>Product: @Model.Name</h2>
        <div class="block ">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)          
                @Html.HiddenFor(model => model.ProductId)
                                           
                <table class="form">
                    <tr>
                        <td class="col1">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Name)
                            </div>
                        </td>

                        <td class="col2">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Name, new { @class = "medium" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Description)
                            </div>
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Description, new { @class = "tinymce" })
                            @*@Html.ValidationMessageFor(model => model.Description)*@
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Price)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Price, new { @class = "medium" })
                                @Html.ValidationMessageFor(model => model.Price)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Category)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Category, new { @class = "medium" })
                                @Html.ValidationMessageFor(model => model.Category)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.CategoryId)
                            </div>
                        </td>
                        <td>
                            @*<div class="editor-field">*@
                            @*    @Html.EditorFor(model => model.CategoryId)
                                @Html.ValidationMessageFor(model => model.CategoryId)*@
                            <div>
                                <select id="combobox" name="combobox">
                                    <option value="1">Value 1</option>
                                    <option value="2">Value 2</option>
                                    <option value="3">Value 3</option>
                                </select>
                            </div>
                            @*</div>*@
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.ImageMimeType)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ImageMimeType)
                                @Html.ValidationMessageFor(model => model.ImageMimeType)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Created)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Created, new { id = "datepicker" })
                                @Html.ValidationMessageFor(model => model.Created)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Modified)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Modified)
                                @Html.ValidationMessageFor(model => model.Modified)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <input type="submit" value="Save" />
                            </p>
                        </td>
                        <td>
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </td>
                    </tr>
                </table>  
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/ui-lightness/css")
    <link href="~/Content/ComboBox.css" rel="stylesheet" />

    <script src="~/Scripts/ComboboxWidget.js"></script>
    @*<script src="~/Content/admin/js/tiny-mce/jquery.tinymce.js"></script>*@    
    <script src="~/Scripts/admin/js/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/admin/js/setup.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //setupTinyMCE();
            setDatePicker('datepicker');
            setupTinyMCE_Classy();
            $("#combobox").combobox();
            $("#datepicker").datepicker();            
        });
    </script>
}
