@model SportsStore.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="grid_12">
    <div class="box round first fullpage">
        <h2>Product: @Model.Product.Name</h2>
        <div class="block ">
            @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)          
                @Html.HiddenFor(model => model.Product.ProductId)
                                           
                <table class="form">
                    <tr>
                        <td class="col1">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Product.Name)
                            </div>
                        </td>

                        <td class="col2">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Product.Name, new { @class = "medium" })
                                @Html.ValidationMessageFor(model => model.Product.Name)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Product.Price)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Product.Price, new { id = "spinner" })
                                @Html.ValidationMessageFor(model => model.Product.Price)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Product.CategoryId)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field ui-widget">
                                @Html.DropDownListFor(model => model.Product.CategoryId, Model.Categories, new { id = "combobox" })
                                @Html.ValidationMessageFor(model => model.Product.CategoryId)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Product.ImageData)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @if (Model.Product.ImageData == null)
                                {
                                    @:None
	    }
                                else
                                {
                                    <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.Product.ProductId })" />            
                                }

                                <div>
                                    <input type="file" name="image" />
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Product.Description)
                            </div>
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Product.Description, new { @class = "tinymce" })
                            @*@Html.ValidationMessageFor(model => model.Description)*@
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button type="submit" class="btn btn-grey" value="Save">Save</button>
                            <button type="submit" class="btn btn-grey" value="Save">
                                @*@Html.ActionLink("Back to List", "Index")*@
                                Back to List
                            </button> 
                        </td>
                    </tr>
                </table>  
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/ui-lightness/css")
    <link href="~/Content/ComboBox.css" rel="stylesheet" />

    <script src="~/Scripts/ComboboxWidget.js"></script>
    @*<script src="~/Content/admin/js/tiny-mce/jquery.tinymce.js"></script>*@
    <script src="~/Scripts/admin/js/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/admin/js/setup.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //setupTinyMCE();

            setDatePicker('datepicker');
            setupTinyMCE_Classy();
            $("#combobox").combobox();
            $("#datepicker").datepicker();
            setSpinnerCurrency('spinner', 10, 1000000, 10, 100);
        });
    </script>
}
