@using SportsStore.WebUI.Models;
@using SportsStore.WebUI.HtmlHelpers;
@using SportsStore.Domain.Entities;

@model ProductListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>    
    <div class="grid_2">        
        <div class="box sidemenu">
            <div class="block" id="section-menu">
                <ul class="section menu">
                    <li><a class="menuitem">Nhóm Sản Phẩm</a>
                         <ul class="submenu">
                            @foreach (var category in this.Model.Categories)
                            {
                                @*<li><a>Nhóm Sản Phẩm</a> </li>*@
                                <li>@Html.ActionLink(category.Name, "Index", new { categoryId = category.CategoryId })</li>
                            }                            
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_10">
        <div class="box round first grid">
            <h2>Sản Phẩm</h2>
            @*  <div class="grid_1">
				<a class="btn-mini btn-grey btn-plus" data-bind="click: removeProduct"><span></span>Add</a>
			</div>*@
            <div class="block">
                <div>
                    <table class="data display datatable" id="example">
                        <thead>
                            <tr>
                                @*								<td class="column_checkbox">
									<input id="ckCheckAll" type="checkbox" /></td>*@
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th />
                            </tr>
                        </thead>

                        <tbody data-bind="foreach: products, visible: products().length > 0">
                            @foreach (var productViewModel in Model.ProductViewModels)
                            {
                                <tr>
                                    @*<td class="column_checkbox">
										<input type="checkbox" /></td>*@
                                    <td>@Html.ActionLink(productViewModel.Product.Name, "Edit", new { productId = productViewModel.Product.ProductId })</td>
                                    <td>@productViewModel.CategoryName</td>
                                    <td>@productViewModel.Product.Price</td>
                                    <td>
                                        @using (Html.BeginForm("Delete", "Product"))
                                        {                                            
                                            @Html.Hidden("ProductId", productViewModel.Product.ProductId)                                                                                   
                                            @Html.Hidden("CategoryId", this.Model.CurrentCategory)   
                                            @Html.Hidden("Page", this.Model.PagingInfo.CurrentPage)   
                                            <input type="image" src="~/Content/admin/img/delete_16x16.png" value="Delete" />                                                
                                        }
                                    </td>
                                </tr>
                            }                            
                        </tbody>
                    </table>

                    <div>
                        @Html.PageLinks(@Model.PagingInfo, x => Url.Action("Index", new { page = x, categoryId = @Model.CurrentCategory }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <link href="~/Scripts/admin/css/table/demo_page.css" rel="stylesheet" />
    <script src="~/Scripts/admin/js/table/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/admin/js/setup.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setupLeftMenu();

            $('.datatable').dataTable(
				{
				    "bFilter": false,
				    "bPaginate": false,
				    "bInfo": false
				});
            setSidebarHeight();
        });
    </script>
}