@{
    ViewBag.Title = @Model.Topic.Id > 0 ? "Cập Nhật Chủ Đề" : "Tạo Mới Chủ Đề";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model SportsStore.WebUI.Models.TopicViewModel
<div class="grid_12">
    <div class="box round first fullpage">
        @{
            if (this.Model.Topic.Id > 0)
            {
              <h2>Nhóm Sản Phẩm: @Model.Topic.Name</h2>
            }
            else
            {
                <h2>Tạo Mới</h2>
            }
        }

        <div class="block">
            @using (Html.BeginForm("Edit", "Topic", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Topic.Id)
                <table class="form">
                    <tr>
                        <td class="col1">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Topic.Name)
                            </div>
                        </td>

                        <td class="col2">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Topic.Name, new { @class = "medium" })
                                @Html.ValidationMessageFor(model => model.Topic.Name)
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button type="submit" name="submitButton" class="btn btn-grey" value="Save">Lưu</button>
                            <button type="submit" name="submitButton" class="btn btn-grey" value="Cancel">
                                Trở Về
                            </button>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>

