@using SportsStore.WebUI.Models;
@using SportsStore.WebUI.HtmlHelpers;
@using SportsStore.Domain.Entities;

@model CategoryListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="grid_12">
        <div class="box round first grid">
            <h2>Index</h2>
            <div class="block">
                <div>
                    <table class="data display datatable" id="example">
                        <thead>
                            <tr>
                                @*								<td class="column_checkbox">
									<input id="ckCheckAll" type="checkbox" /></td>*@
                                <th>Name</th>                                
                                <th style="width:30px"/>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var categoryViewModel in Model.Categories)
                            {
                                <tr>
                                    @*<td class="column_checkbox">
										<input type="checkbox" /></td>*@
                                    <td>@Html.ActionLink(categoryViewModel.Name, "Edit", new { id = categoryViewModel.CategoryId })</td>                                    
                                    <td>
                                        @using (Html.BeginForm("Delete", "Category"))
                                        {
                                            @Html.Hidden("CategoryId", categoryViewModel.CategoryId)                                                                                   
                                            <input type="image" src="~/Content/admin/img/delete_16x16.png" value="Delete" />                                                
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div>
                        @Html.PageLinks(@Model.PagingInfo, x => Url.Action("Index", new { page = x, categoryId = @Model.CurrentCategory }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <link href="~/Scripts/admin/css/table/demo_page.css" rel="stylesheet" />
    <script src="~/Scripts/admin/js/table/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/admin/js/setup.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setupLeftMenu();

            $('.datatable').dataTable(
				{
				    "bFilter": false,
				    "bPaginate": false,
				    "bInfo": false
				});
            setSidebarHeight();
        });
    </script>
}