@using SportsStore.WebUI.HtmlHelpers
@model SportsStore.WebUI.Models.OrderDetailViewModel

<tr>
    @*<td class="column_checkbox">
										<input type="checkbox" /></td>*@
    @*@Html.HiddenIndexerInputForModel(model => model.OrderDetail.OrderDetailId)*@    
    <td style="width: 25%">        
        @Html.HiddenFor(model => model.OrderDetail.OrderDetailId)
        @Html.HiddenFor(model => model.OrderDetail.ProductId)
        @Html.HiddenFor(model => model.OrderDetail.OrderId)
        @Html.DisplayFor(model => model.ProductNo)
    </td>
    <td style="width: 25%">
        @Html.DisplayFor(model => model.ProductName)
    </td>
    <td style="width: 14%">
        @Html.DisplayFor(model => model.OrderDetail.Quantity)
    </td>
    <td style="width: 14%">
        @Html.DisplayFor(model => model.OrderDetail.Price)
    </td>
    <td style="width: 15%">
        @Html.DisplayFor(model => model.OrderDetail.Total)
    </td>
    <td style="width: 50px">
        <input type="image" src="~/Content/admin/img/icon-form-style.png" value="Edit" />
        <input type="image" src="~/Content/admin/img/delete_16x16.png" value="Delete" />
    </td>
</tr>
