@using SportsStore.Domain.Entities;
@model ShippingDetails

@{
    ViewBag.Title = "SportsStore: Checkout";
}

<h2>Check out now</h2>
Please enter your details, and we'll ship your goods right away!
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Ship to</h3>
    <div>Name: @Html.EditorFor(model => model.Name)</div>
    
    <h3>Address</h3>
    <div>Line 1: @Html.EditorFor(model => model.Line1)</div>
    <div>Line 2: @Html.EditorFor(model => model.Line2)</div>
    <div>Line 3: @Html.EditorFor(model => model.Line3)</div>
    <div>City: @Html.EditorFor(model => model.City)</div>
    <div>State: @Html.EditorFor(model => model.State)</div>
    <div>Zip: @Html.EditorFor(model => model.Zip)</div>
    <div>Country: @Html.EditorFor(model => model.Country)</div>
    
    <h3>Options</h3>
    <label>
        @Html.EditorFor(model => model.GiftWrap)
        Gift wrap these items
    </label>
    
    <p align="center">
        <input class="actionButtons" type="submit" value="Complete order"/>
    </p>
}
