<div>
    <ul class="nav main">
        <li class="ic-dashboard"><a href="dashboard.html"><span>Giao Diện</span></a> </li>
        <li class="ic-grid-tables">
            <a href="javascript:">
                <span>Sản Phẩm</span>
            </a>
            <ul>
                <li><a href="@Url.Action("Index", "Order")">Đơn Hàng</a> </li>
                <li><a href="@Url.Action("Index", "Category")">Nhóm Sản Phẩm</a> </li>
                <li><a href="@Url.Action("Index", "Product")">Sản Phẩm</a> </li>
                <li><a href="@Url.Action("Create", "Category")">Thêm Nhóm</a> </li>
                <li><a href="@Url.Action("Create", "Product")">Thêm Sản Phẩm</a> </li>
            </ul>
        </li>

        <li class="ic-form-style">
            <a href="typography.html"><span>Tin Tức</span></a>
            <ul>
                <li><a href="@Url.Action("Index", "Topic")">Chủ Đề</a> </li>
                <li><a href="@Url.Action("Index", "News")">Tin Tức</a> </li>
                <li><a href="@Url.Action("Create", "Topic")">Thêm Chủ Đề</a> </li>
                <li><a href="@Url.Action("Create", "News")">Thêm Tin Tức</a> </li>
            </ul>
        </li>

        <li class="ic-charts">
            <a href="charts.html"><span>Cài Đặt</span></a>
            <ul>
                <li><a href="form-controls.html">SEO Website</a> </li>
                <li><a href="@Url.Action("Index", "Product")">Hỗ Trợ Trực Tuyến</a> </li>
                <li><a href="@Url.Action("CreateCategory", "Products")">Quảng Cáo</a> </li>
                <li><a href="@Url.Action("Create", "Product")">Phương Thức Thanh Toán</a> </li>
                <li><a href="@Url.Action("Create", "Product")">Thống Kê Lượt Truy Cập</a> </li>
                <li><a href="@Url.Action("Create", "Product")">Hộp Tin Nhanh</a> </li>
                <li><a href="@Url.Action("Create", "Product")">Hỗ trợ đa ngôn ngữ</a> </li>
                <li><a href="@Url.Action("Create", "Product")">Liên Kết Mạng Xã Hội</a> </li>
            </ul>
        </li>
        @*<li class="ic-grid-tables"><a href="table.html"><span>Data Table</span></a></li>*@
        <li class="ic-gallery dd"><a href="javascript:"><span>Quản Lý Tập Tin</span></a>
            <ul>
                <li><a href="image-gallery.html">Pretty Photo</a> </li>
                <li><a href="gallery-with-filter.html">Gallery with Filter</a> </li>
            </ul>
        </li>
        <li class="ic-notifications"><a href="notifications.html"><span>Tin Nhắn</span></a></li>

    </ul>
</div>
